<ifmodule mod_mime.c>
    AddType application/x-web-app-manifest+json .webapp
    Addtype font/truetype .ttf
</ifmodule>

<ifmodule mod_expires.c>
    ExpiresActive On
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType image/png "access plus 1 week"
    ExpiresByType image/jpeg "access plus 1 week"
    ExpiresByType image/svg+xml "access plus 1 week"
    ExpiresByType font/truetype "access plus 1 week"
</ifmodule>

FileETag None

<ifmodule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</ifmodule>

<ifmodule mod_filter.c>
    <IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/css text/html application/javascript font/truetype
    </IfModule>
</ifmodule>

<ifmodule mod_headers.c>
    Header set X-Frame-Options DENY
    Header set X-Content-Type-Options nosniff
    Header set X-XSS-Protection "1; mode=block"
    Header set Referrer-Policy no-referrer
</ifmodule>
