parameters:
	ignoreErrors:
		# The Archive constructor messes up the output buffering.
		- '#Alltube\\Stream\\PlaylistArchiveStream::__construct\(\) does not call parent constructor from Barracuda\\ArchiveStream\\ZipArchive\.#'
