<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php">
    <filter>
        <whitelist>
            <directory>classes/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
